@import "~styles/variables";

.midle {
    // background: $background-block-color;
    // border: 1px solid $border-midle-block;
    border-radius: 15px;
    margin:25px;
    &__kr{
        display: flex;
        width: 90%;
        height: 88%; 
        padding: 10px;
        &-img{
          width: 300px;
          height: 300px;
          margin: 30px;
        }
        &__table{
            
        }
      }
}
