@import "~styles/variables";

.midle_kr{
    background: $background-block-color;
    border: 1px solid $border-midle-block;
    box-sizing: border-box;
    border-radius: 15px;

    height: 615px;

    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    
    &__target_submit_btn{
        margin: 15px;
        &__aericl{
            color: snow;
        }
    }
    &__table {
        margin-left: 50px;
    }

}